

.mainDIV {
	width: 100%;
    height: 667px;
	
}

caption {
	margin-bottom : 20px;
	font-size: 30px;
}

.movieTable > tbody > tr  > td{
	border : 1px solid white;
	
}

.infoTable > tbody > tr > td {
	border : 1px solid white;
}

.movieCheckDIV {
    width: 1200px;
    height: 600px;
    float: left;
    margin-left: 374px;
    margin-top: 50px;
    background-color: #00000059;	
}

.moviePoster {
	width: 600px;
    float: left;
    height: 600px;	
	
}

.info {
	width: 600px;
    float: right;
    height: 600px;
	 text-align: center;
}

input , .theater_numcheck {
	width: 400px;
    height: 30px;
	
}

.movieTable  {
	width: 400px;
    height: 480px;
    float: left;
    margin: 100px;
    margin-bottom: 0;
	color: white;
	margin-top: 50px;
}

.infoTable {
	margin: 0;
    width: 600px;
    margin-top: 50px;
	color: white;
	float: left;
	height: 250px;
}

#movieSave {
	    width: 150px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    color: white;
    	font-family: "Nanum Pen Script", cursive;
    	font-size : 23px;
    	margin-top: 42px;
}

#movieSave:hover {
	background-color: #00f9ed2b;
	cursor : pointer;
}

.distinct_info {
	color: white;
    margin-top: 437px;
    font-size: 27px;
}
}

.selectMovie {
	height: 40px;
}

.selectMovie > td {
	text-align: center;
}

.selectMovie > td > select {
	width: 270px;
    height: 30px;
}

.selectPoster > td {
	text-align: center;
}

.selectPoster > td > img {
	width: 300px;
    height: 350px;
	
}

.selectMovieName > td {
	text-align: center;
    font-size: 25px;
	
}


